body {
    font-family: Arial, sans-serif;
    background: #f2f2f2;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;

    background-image: url("./pexels-steve-29708303.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container {
    width: 600px;
    background: #ffffff;
    margin: 30px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h1, h3 {
    text-align: center;
}

.center-img,
.center-video {
    display: block;
    margin: 10px auto;
    width: 100%;
    border-radius: 5px;
}

.form-box label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

.form-box input,
.form-box select,
.form-box textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.radio-group {
    margin-top: 5px;
}

textarea {
    resize: none;
    height: 80px;
}

button {
    width: 100%;
    margin-top: 15px;
    padding: 10px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background: #0056b3;
}